
$color-bright: #F28730;
$color-dim: #727177;


body {
  background-color: white;
  margin: 0;
  font-family: 'Oxygen', sans-serif;
  color: #000000;
  font-size: 13pt;
}
p {
  margin: 0;
}
h1,h2,h3 {
  font-family: 'Oxygen', sans-serif;
}
a:link    { color: #888; }
a:visited { color: #888; }
/*
.c1 {
  widows: 2;
  orphans: 2;
  direction: ltr
}
*/


#header-menu {
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 0.10em;
  color: #CCC;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    list-style-type: none;
    padding: 1em 1.5em;

    &:hover a:link    { color: #000; }
    &:hover a:visited { color: #000; }
    a:link   {
      text-decoration: none;
    }

    &:hover  {
      background-color: #EEE;
      border-bottom: 2px solid $color-bright
    }
  }

  @media print {
    display: none;
  }
}

img#logo-big {   /* TODO: remove; unused */
  opacity: 0.1;
  transform: scale(1.1, 1) translateY(15px);
  transition: all 0.5s ;

  &.shown {
    opacity: 1;
    transform: scale(0.98) translateY(0);
  }
  &.shown:hover {
    transform: scale(1) translateY(-3px);
  }

  /* Can't use % widths, due to the needed parent widths */
  @media screen {
    & { width:617px; }
  }
  @media screen and (max-width: 617px) {
    & { width:400px; }
  }
  @media screen and (max-width: 400px) {
    & { width:320px; }
  }
}

img#logo-small {  /* TODO: move under .my-page-header */
  transform-origin: top left;
  transition: all 0.5s ease-in;

  @media screen {
    opacity: 0;
    &.shown {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
    &.shown:hover {   /* overridden by header.my-page-header:not(.scrolled), below; TODO fix */
      transform: scale(1.1) translateY(-3px);
      transition: all 0.1s linear;
    }
  }
  @media print {
    transform: scale(2.2) translateX(-1em);
  }
}

.centered-glory {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  /*
  padding-left: 20px;
  padding-right: 20px;
  */
  font-family: 'Oxygen', sans-serif;

  .tagline {
    font-family: 'Oxygen', sans-serif;
    font-size: 135%;
    color: $color-dim;
    margin: 1em 1em 3.5em 1em;
    ul {
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        list-style-type: none;
        margin-bottom: 0.2em;
      }
    }
  }

  .spaciousness {
    margin: 6em 0;

    li {
      margin-bottom: 0.3em;
    }
    h1, h2, h3 {
      color: $color-dim;
      margin-top: 2.1em;
      margin-bottom: 0.5em;
      padding-left: 0.2em;
      border-left: 1px solid $color-bright;
      background-color: #FBFBFB;
    }
  }
}

header.my-page-header {
  background-color: white;
  width: 100%;
  height: 57px;
  margin: auto;
  z-index: 1000;
  transition:
    all 0.5s ease-in,
    box-shadow 0.6s linear 0.4s;
  @media screen {
    box-shadow: 0px 1px 10px #5E5E5E;
    position: fixed;
    top: 0px;
  }

  img {
    /*width:  114px;*/
    /*height:  36px;*/
    width:  171px;
    height:  54px;
    padding-left: 1em;
  }

  & > .header-width-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /*
    padding-left: 20px;
    padding-right: 20px;
    */
    & > .header-flex-container {
      display: flex;
      justify-content: space-between;
    }
  }

  & + .fixed-header-spacer {
    height: calc(170px + 7em);
    @media screen and (max-width: 415px) {
      height: calc(170px);
    }
    @media print {
      height: 3em;
    }
  }

  &:not(.scrolled) {
    @media screen {
      box-shadow: none;
      transition: box-shadow 0.3s linear;
    }

    img#logo-small {
      transform: scale(3.35) translateY(25px) translateX(-5px);
      @media screen and (max-width: 617px) {
        transform: scale(3) translateY(25px) translateX(-5px);
      }
      @media screen and (max-width: 415px) {
        transform: scale(2) translateY(25px) translateX(-5px);
      }
      @media print {
        transform: scale(2.2) translateX(-1em);
      }
    }
  }

  @media screen and (max-width: 800px) {
    .menu-burger { display: block; }
    #header-menu { display: none;
      &.show-mobile {
        display: block;
        position: fixed;
        right: 0px;
        margin: auto;
        margin-left: 30px;
        z-index: 100000;
        background-color: white;
        border: 1px solid $color-bright;
        font-size: 130%;
      }
    }
  }
  @media screen and (min-width: 800px) {
    #header-menu { display: block; }
    .menu-burger { display: none; }
  }
  .menu-burger {
    font-size: 250%;
    color: $color-dim;
    margin-top: -5px;
    margin-right: -3px;
    /*color: white;
    background-color: black;*/
    @media print {
      display: none;
    }
  }

  .print-info {
    @media screen {
      display: none;
    }
    @media print {
      text-align: right;
      padding-top: 0.5em;
    }
  }
}



.display-boxes {
  margin: 3em 2em;
}
.display-boxes > * {
  border-bottom: 1px solid #EEE;
  padding-bottom: 1em;
  background-color: #FBFBFB;
  font-size: 110%;
  margin-bottom: 1em;

  h1,h2 {
    font-size: 20pt;
    background-color: #EEE;
    padding: 0.3em;
    margin: 0 0 0.4em 0;
    color: $color-bright;
    border-left: 1px solid $color-bright;
  }
  p {
    padding: 0 0.5em;
  }
}


.projects {

  padding: 7.2pt 10pt;

  .project {
    transition:
      all        0.5s linear,
      max-height 0.5s cubic-bezier(0,1,0,1);
    transform-origin: top left;

    margin-bottom: 1.2em;

    @media screen {
      &:not(.active) {
        max-height: 0em;         /* for transition, forces flow: lower items slide up */
        transform: scale(1,0);   /* for transition, shrinks nicely, but doesn't change surrounding layout */
        opacity: 0;
        margin: 0;
      }
      &.active {
        transition:
          all        0.5s linear,
          max-height 0.5s cubic-bezier(1,0,1,0);  /* cubic-bezier: start super fast to cover distance between effective height and max-height before slowing down */

        /* max-height for transition; measured real layout, but this is a rough guess and subject to content change, oy */
        @media (min-width: 800px) { max-height: 100em; }
        @media (min-width: 200px) { max-height: 200em; }

        opacity: 1;
        /* color: green; */
      }
    }
    @media print {
      &:not(.active) {
        display: none;
      }
    }
  }

  .project-section-label {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    color: #777;
    font-size: 130%;
    margin-top: 0.3em;
    margin-right: 0.5em;
    display: inline-block;
  }

  .project-head {
    font-size: 110%;

    .project-section-label {
      color: $color-bright;
      font-size: 130%;
    }
  }

  .intro {
    color: $color-dim;
    font-style: italic;
    display: inline-block;
    font-size: 90%;

    strong {
      font-size: 170%;
      color: $color-bright;
    }
  }

  .label-buttons-container {
    margin: 1.5em -0.5em;
    border-left: 2px solid $color-bright;
    border-radius: 6px;
    padding: 0.5em;

    .label-buttons-label {
      font-size: 70%;
      font-weight: bold;
      color: $color-bright;
      &:before { content: "FILTER"; }
    }
    &.any-active .label-buttons-label {
      &:before { content: "MATCHED: "; }
    }

    button {
      font-family: 'Oxygen', sans-serif;
      transition: all 0.1s linear;
      margin-right: 0.5em;
      margin-top: 0.3em;
      border: 0px solid $color-bright;
      border-radius: 5px;
      font-size: 110%;
      min-width: 3em;
      padding: 4px 10px;
      background-color: color($color-dim lightness(+50%));
      vertical-align: top;
      box-shadow: 1px 1px 3px color($color-dim lightness(+10%));

      &:focus {
        outline:0;
      }
    }

    &.any-active button {
      background-color: color($color-dim lightness(+43%));
      font-size: 105%;

      &.active {
        background-color: color($color-bright lightness(+30%));
        border: 1px solid color($color-bright lightness(+10%));
        font-size: 120%;
        font-weight: bold;
      }
      @media print {
        font-size: 110%;
        &:not(.active) {
          display: none;
        }
      }
    }

    @media print {
      &:not(.any-active) {
        /* display: none; */
        visibility: hidden;
        height: 0;
        padding: 0;
      }
    }
  }

}


.page-header {   /* TODO: remove */
  /*position: fixed;*/
  width: 100%;
  border-bottom: 1px solid #eee;
  background-color: #FFF;
  padding: 0.5em;
  padding-left: 0.5em;

  img {
    /*width:  114px;*/
    /*height:  36px;*/
    width:  171px;
    height:  54px;
  }
  span {
    display: inline-block;
    vertical-align: 70%;
    padding-left: 2em;
    color: #777;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 0.15em;
    font-size: 150%;
  }
}



@lost flexbox flex;
.lostgrid { lost-center: 980px; }  /* uh oh, what max width? */
.lostgrid-columns-1 > * { lost-column: 1/1; }
.lostgrid-columns-2 > * { lost-column: 1/2; }
.lostgrid-columns-3 > * { lost-column: 1/3; }
.lostgrid-columns-4 > * { lost-column: 1/4; }
.lostgrid-columns-5 > * { lost-column: 1/5; }
.lostgrid-columns-6 > * { lost-column: 1/6; }
@media screen and (max-width: 400px) {
  .lostgrid > * { lost-column: 1/1; }
}
