<header class='my-page-header'>
  <div>
    <a href="/"><img id='logo-small' src='/TimothyJames-logo.png' onload="onHeaderLoad(event)"/></a>
  </div>
</header>
<div class='fixed-header-spacer'></div>

<script>
  function onHeaderLoad(event) {
    var target = event.target;
    target.className = 'shown';

    var header = document.querySelector('header.my-page-header');
    var isMarkedScrolled = false;

    window.addEventListener('scroll', function(e) {
      var y = window.scrollY;
      if (y > 57 && !isMarkedScrolled) {
        header.classList.add('scrolled');
        isMarkedScrolled = true;
        // console.log(y, isMarkedScrolled, 'add');
      } else
      if (y <= 57 && isMarkedScrolled) {
        header.classList.remove('scrolled');
        isMarkedScrolled = false;
        // console.log(y, isMarkedScrolled, 'remove');
      }
    });
  }
</script>
