<header class='my-page-header'>
  <div class='header-width-container'>
    <div class='header-flex-container'>
      <div>
        <a href="/"><img id='logo-small' src='/TimothyJames-logo.png' onload="onHeaderLoad(event)"/></a>
      </div>
      <div>
        <div class='menu-burger'>&#9776;</div>
        <ul id="header-menu">
          <% _.each(menuItems, (item)=>{ %>
            <a href="<%- item.url %>"><li><%- item.name %></li></a>
          <% }) %>
        </ul>
      </div>
    </div>
  </div>
</header>
<div class='fixed-header-spacer'></div>

<script>
  function onHeaderLoad(event) {
    var target = event.target;
    target.className = 'shown';

    var header = document.querySelector('header.my-page-header');
    var isMarkedScrolled = false;

    window.addEventListener('scroll', function(e) {
      var y = window.scrollY;
      if (y > 57 && !isMarkedScrolled) {
        header.classList.add('scrolled');
        isMarkedScrolled = true;
        // console.log(y, isMarkedScrolled, 'add');
      } else
      if (y <= 57 && isMarkedScrolled) {
        header.classList.remove('scrolled');
        isMarkedScrolled = false;
        // console.log(y, isMarkedScrolled, 'remove');
      }
    });

    var burger = header.querySelector('.menu-burger');
    var menu = header.querySelector('#header-menu');
    burger.addEventListener('click', function(e) {
      e.stopPropagation();
      menu.classList.toggle('show-mobile');
    });
    document.querySelector('body').addEventListener('click', function(e) {
      menu.classList.remove('show-mobile');
    });

  }
</script>
