<div id="home">
  <div id="header">
    <a     class='item' href="https://www.linkedin.com/in/timjamestim">LinkedIn Profile
    </a><a class='item' href="projects/">Projects</a>
  </div>
  <div id="distance"></div>
  <div id="container">
    <div>
      <a style="text-align:center" href="projects/">
        <img id='logo-home' src="TimothyJames-logo.png" />
      </a>
    </div>
  </div>
</div>

<script>
  window.onload = function() {
    document.getElementById('logo-home').className = 'shown'
  }
</script>
