<div id=label-buttons></div>

<script>
  window.addEventListener("load", () => {
    const projects = Array.from(document.querySelectorAll('.projects .project'));
    const labelSet = new Set();
    const activeLabelSet = new Set();
    const projectSetByLabel = new Map();
    projects.forEach( project =>
      project.attributes.labels.value.split(/\s+/).forEach( label => {
        labelSet.add(label);
        projectSetByLabel.get(label) || projectSetByLabel.set(label, new Set());
        projectSetByLabel.get(label).add(project);
      } ) );
    console.log(labelSet, projectSetByLabel);
    const buttonSetByLabel = new Map();
    labelSet.forEach(label => {
      const button = document.createElement('button');
      button.innerText = label;
      button.addEventListener('click', () => {
        button.classList.toggle('active');
        activeLabelSet[activeLabelSet.has(label) ? 'delete' : 'add'](label);  // toggle
        const effectiveLabelSet = activeLabelSet.size ? activeLabelSet : labelSet;
        console.log(effectiveLabelSet, activeLabelSet.size, activeLabelSet,  labelSet)
        projects.forEach(
          project => project.classList.remove('active')
        );
        effectiveLabelSet.forEach( label => projectSetByLabel.get(label).forEach(
          project => {
            project.classList.add('active')
            console.log(label, project, project.classList)
          }
        ) );
      });
      document.querySelector('#label-buttons').appendChild( button );
      buttonSetByLabel.get(label) || buttonSetByLabel.set(label, new Set());
      buttonSetByLabel.get(label).add(button);
    });
  });
</script>
