<div class="project active" labels="<%- labels.join(' ') %>">

  <div class="project-head">
    <span class="project-section-label">PROJECT</span>
    <span><%= $.recurse(title) %></span>
  </div>

  <div class="project-labels">
    <% _.each(labels, (label) => {%>
      <span class="project-label"><%- label %></span>
    <% }) %>
  </div>

  <div>
    <span class="project-section-label">PROBLEM</span>
    <span><%= $.recurse(problem) %></span>
  </div>

  <div>
    <span class="project-section-label">SOLUTION</span>
    <span><%= $.recurse(solution) %></span>
  </div>

  <div>
    <span class="project-section-label">RESULTS</span>
    <span><%= $.recurse(results) %></span>
  </div>

</div>
