<div id="projects-widget" class="projects-widget">
  <div class="label-buttons"></div>
  <div>
    <%= $.recurse(projects) %>
  </div>
</div>

<script>
    const projects = Array.from(document.querySelectorAll('#projects-widget .project'));

    // Collect unique labels across projects, indexing projects by label
    const labelSet = new Set();
    const projectSetByLabel = new Map();
    projects.forEach( project =>
      project.attributes.labels.value.split(/\s+/).forEach( label => {
        labelSet.add(label);
        projectSetByLabel.get(label) || projectSetByLabel.set(label, new Set());
        projectSetByLabel.get(label).add(project);
      } ) );
    console.log(labelSet, projectSetByLabel);

    // Create label-selector buttons
    const activeLabelSet = new Set();
    labelSet.forEach(label => {
      const button = document.createElement('button');
      button.innerText = label;

      button.addEventListener('click', () => {
        // Toggle button state and activate only projects with any active label

        button.classList.toggle('active');
        activeLabelSet[activeLabelSet.has(label) ? 'delete' : 'add'](label);  // toggle
        const effectiveLabelSet = activeLabelSet.size ? activeLabelSet : labelSet;
        console.log(effectiveLabelSet, activeLabelSet.size, activeLabelSet,  labelSet)

        projects.forEach(
          project => project.classList.remove('active')  // start all projects inactive
        );
        // Activate each project bearing an active (or effective) label
        effectiveLabelSet.forEach( label =>     // for each effective label ...
          projectSetByLabel.get(label).forEach(   // for each matching project ...
            project => {                            // activate!
              project.classList.add('active')
              console.log(label, project, project.classList)
            }
          ) );

        // TODO: track in google analytics
      });

      document.querySelector('#projects-widget .label-buttons').appendChild( button );
    });
</script>
